:root{
background-color: bisque;
}

body{
    font-family:Arial, Helvetica, sans-serif;
}

#text{
    background-color: beige;
    min-height: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-style: italic;
}

#imprimir{
    background-color:lavender;
}

#limpiar{
    background-color: lavender;
}